<title>Create Shop</title>
<section class="new-store-page">
    <div class="rap">
        <h1>Create New Store</h1>
        <form action="/new-store" method="post">
            <input type="text" name="store" placeholder="New Store Name" required>
            <br>
            <button>Create</button>
        </form>
    </div>
</section>