@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

:root {
    /* main BG */
    --main-bg: #2F3C7E;

    --pastelpink: #FBEAEB;
    --white: white;
    --border-color: white;
    --btn-color: aqua;
    --danger: red;
    --success: rgb(3, 218, 3);

    --bg-color1: #455397;
    --bg-color2: #5e6cb3;
}

/* error message */

.error-message {
    text-align: center;
    color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid var(--danger);
    background-color: rgba(255, 0, 0, 0.295);
    border-radius: 9px;
}

.success-message{
    color: white;
    background-color: rgba(6, 204, 6, 0.295);
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid var(--success);
    border-radius: 8px;
    text-align: center;
}

body {
    background-color: var(--main-bg);
    color: var(--white);
}


/* HEAFER */

.header-rap {
    width: 100vw;
    height: 10vh;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.26);

}

.header-rap .title {
    font-size: 28px;
    width: 50%;
}

.header-rap .icons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-rap .icons a {
    color: var(--white);
    margin-right: 15px;
    text-decoration: none;
}

.header-rap .icons .red {
    color: red;
}

/* HOME PAGE */

.home-page {
    height: 80vh;
    width: 100vw;
}

.home-page .rap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home-page .rap .create-shop {
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 8px;
}

.home-page .rap .create-shop:hover {
    border: 1px solid aqua;
}

.home-page .rap .create-shop img {
    height: 100px;
}

.home-page .rap .stores {
    text-align: center;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    cursor: pointer;
}

.home-page .rap .stores img {
    height: 100px;
}

.home-page .rap .stores:hover {
    border: 1px solid var(--btn-color);
}

/* SIGN UP PAGE */

.signup-page {
    height: 80vh;
    width: 100vw;
}

.signup-page .rap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup-page .rap h1 {
    margin-bottom: 20px;
    font-size: 30px;
}

.signup-page .rap form input {
    height: 40px;
    width: 290px;
    margin-bottom: 10px;
    outline: none;
    padding-left: 10px;
    border: none;
    border-radius: 9px;
}

.signup-page .rap form button {
    height: 38px;
    width: 100px;
    border: 1px solid var(--btn-color);
    border-radius: 9px;
    background-color: transparent;
    color: var(--btn-color);
    cursor: pointer;
    margin-top: 10px;
}

.signup-page .rap form a {
    color: var(--white);
}

/* SIGN IN PAGE */

.signin-page {
    width: 100vw;
    height: 80vh;
}

.signin-page .rap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signin-page .rap h1 {
    margin-bottom: 20px;
    font-size: 30px;
}

.signin-page .rap form input {
    width: 290px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 9px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.signin-page .rap form button {
    height: 38px;
    width: 100px;
    border: 1px solid var(--btn-color);
    border-radius: 9px;
    background-color: transparent;
    color: var(--btn-color);
    cursor: pointer;
    margin-top: 10px;
}

.signin-page .rap form a {
    color: var(--white);
}

/* new-store-page */

.new-store-page {
    height: 80vh;
    width: 100vw;
}

.new-store-page .rap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.new-store-page .rap h1 {
    margin-bottom: 20px;
    font-size: 30px;
}

.new-store-page .rap form input {
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 8px;
    outline: none;
    padding-left: 10px;
}

.new-store-page .rap form button {
    height: 38px;
    width: 100px;
    margin-top: 10px;
    border: 1px solid var(--btn-color);
    background-color: transparent;
    border-radius: 8px;
    color: var(--btn-color);
    cursor: pointer;
}

/* store-page */

.store-page {
    height: 90vh;
    width: 100vw;
}

.store-page .rap {
    height: 100%;
    width: 100%;
    display: flex;
}

.store-page .rap .menu {
    width: 230px;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.store-page .rap .menu a {
    color: white;
    margin-top: 15px;
    text-decoration: none;
    font-weight: 400;
    background-color: var(--bg-color1);
    padding: 10px;
    width: 90%;
    text-align: center;
    border-radius: 8px;
}

.store-page .rap .menu a:hover {
    background-color: var(--bg-color2);
}

.store-page .rap .main {
    width: 90%;
    height: 90vh;
}

.store-page .rap .main .title {
    text-align: center;
    margin-top: 10px;
}

/* role-page */

.role-page {
    height: 90vh;
    width: 100vw;
}

.role-page .rap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.role-page .rap .title-btn {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
}

.role-page .rap .title-btn .btn {
    width: 15%;
}

.role-page .rap .title-btn .btn a {
    margin-left: 10px;
    color: var(--btn-color);
    text-decoration: none;
    padding: 10px;
    border: 1px solid var(--btn-color);
    border-radius: 8px;

}

.role-page .rap .title-btn .title {
    width: 85%;
    text-align: center;
}

.role-page .rap .table{
    padding: 20px;
}

.role-page .rap .table table {
    border-collapse: collapse;
    width: 100%;
}

.role-page .rap .table th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.role-page .rap .table tr td a{
    color: var(--white);
    font-size: 18px;
}

/* create-role-page */

.create-role-page {
    height: 90vh;
    width: 100vw;
}

.create-role-page .rap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-role-page .rap .title {
    margin-bottom: 20px;
    font-size: 30px;
}

.create-role-page .rap .box {
    margin-bottom: 10px;
}

.create-role-page .rap .box label {
    margin-right: 10px;
}

.create-role-page .rap form {
    padding: 20px;
    background-color: var(--bg-color1);
    border-radius: 10px;
}

.create-role-page .rap form button {
    height: 30px;
    width: 90px;
    color: var(--btn-color);
    background-color: transparent;
    border: 1px solid var(--btn-color);
    border-radius: 8px;
    cursor: pointer;
}

.create-role-page .rap form .name {
    margin-bottom: 10px;
}

.create-role-page .rap form .name input {
    height: 35px;
    border: none;
    padding-left: 10px;
    outline: none;
    border-radius: 8px;
}


/* add-role-page */

.add-role-page{
    height: 90vh;
    width: 100vw;
}

.add-role-page .rap{
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
}

.add-role-page .rap h1{
    margin-bottom: 10px;
    text-decoration: underline;
}

.add-role-page .rap .user{
    padding: 10px;
    background-color: var(--bg-color1);
    border-radius: 8px;
    display: flex;
    margin-bottom: 10px;
    min-width: 200px;
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.add-role-page .rap .user i{
    margin-left: 10px;
    cursor: pointer;
    font-size: 19px;
}

/* all-user-role-page */

.all-user-role-page{
    height: 90vh;
    width: 100vw;
}

.all-user-role-page .rap{
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.all-user-role-page .rap .title{
    margin-top: 10px;
}

.all-user-role-page .rap .user{
    margin-top: 20px;
    padding: 10px;
    background-color: var(--bg-color1);
    border-radius: 10px;
    text-align: center;
}