<title>Roles</title>
<section class="role-page">
    <div class="rap">
        <div class="title-btn">
            <div class="btn">
                <a href="/create-role/<%= store_id %>">Create New Role</a>
            </div>
            <div class="title">
                <h1>Roles</h1>
            </div>
        </div>
        <div class="table">
                
        </div>
    </div>
</section>
