<title>Store</title>
<section class="store-page">
    <div class="rap">
        <div class="menu">
            <a href="">Add Product</a>
            <a href="">Add Sale</a>
            <a href="">All Products</a>
            <a href="">All Sales</a>
            <a href="/roles/<%= store_id %>">Roles</a>
            <a href="">All Users</a>
        </div>
        <div class="main">
            <% if(ErrorMessage) { %>
                <div class="message">
                    <p class="error-message"><%= ErrorMessage %></p>
                </div>
            <% } %>
            <h1 class="title">Store Name</h1>
        </div>
    </div>
</section>